body {
  text-align: center;
  font-family: Comic Sans MS;
  background-image: url(http://www.wallcoo.net/cartoon/funny_3d_animals_1024_768/images/%5Bwallcoo.com%5D_funny_3d_animal_wallpaper_chameleon_2__the_return__by_nicobou.jpg);
 background-repeat: no-repeat;
  background-position: center top
}

.paddingTop230 {
  padding-top: 230px;
}

.paddingBottom10 {
	padding-bottom: 10px;
}


h1 {
	color: #000059;
	font-family: Trebuchet MS;
	 font-weight: bold;
  font-size: 50px;
}

h2 {
	color: #000059;

}

#Message{
  color: #dd2342;
}

