body {
  text-align: center;
  font-family: Comic Sans MS;
  background: url(http://www.wallcoo.net/cartoon/funny_3d_animals_1024_768/images/%5Bwallcoo.com%5D_funny_3d_animal_wallpaper_chameleon_2__the_return__by_nicobou.jpg);
 background-repeat: no-repeat;
  background-position: center top
}

.padding {
  padding-top: 280px;
}

h3 {
  color: #dd2342;
}
h1,h2 {
color: #000059;
}

h1 {
  font-weight: bold;
  font-size: 50px;
}